.forms__title {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
<<<<<<< HEAD
<<<<<<< HEAD:blocks/form/__title/form__title.css
<<<<<<< Updated upstream:blocks/form/__title/form__title.css
=======
  margin: 0 auto 18px 36px;
  border: solid green 1px;


>>>>>>> Stashed changes:blocks/forms/__title/forms__title.css
=======
  margin: 0 auto 18px 36px;


>>>>>>> 317bea68014d3c717433c2b8f433e21e08597e79:blocks/forms/__title/forms__title.css
=======
  margin: 0 auto 18px 36px;


>>>>>>> 317bea68014d3c717433c2b8f433e21e08597e79
}
@media screen and (max-width: 590px) {
  .forms__title {
    font-size: 18px;
    line-height: 22px;
    margin:0 22px 50px;
  }
}
