.form__button-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  padding: 0;
  position: relative;
  left: 430px;
  top: 10px;
}
@media screen and (max-width: 590px) {
  .form__button-close {
    left: 250px;
    top: -10px;
  }
}
.form__button-close:hover {
  opacity: 0.6;
}
